.custom-screen{
    background-color: white;
    text-align: center;
}

#title-home{
    font-family: Arial;
    font-size: 50px;
    color: #595959ff;
    text-align: center;
    padding: 10px;
}

#blurb-home{
    font-family: Arial;
    color: #595959ff;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

.p-home{
    font-family: Arial;
    color: #595959ff;
    text-align: center;
    font-size: 12pt;
    padding: 40px;
}

#start-home{
    font-family: Arial;
    text-align: center;
}

.start-btn{
    background-color: #48bcabff;
    border-color: #595959ff;
    border-width: 1px;
    padding: 10px;
    width: 75px;
}

#start{
    color: white;
    font-size: 12pt;
}

.vertical-center{
    margin: 0;
    position: absolute;
    top: 70%;
    right: 48%;
}

.custom-screen{
    padding: 20px;
}

