{% extends "layout.html" %}

{% block content %}
<div class="container custom-screen">
    <div>
        <p id="title-home">Pop Chord Progressions</p>
        <i><p id="blurb-home">Do you like Olivia Rodrigo? Ever wonder about the theory behind her hits?</p></i>
        <p class="p-home">Let's take a look at her songs! Chord progressions can get crazy and fancy,
            <br>but when it comes pop and rock ballads, there's a reused formula that's pretty simple.
            <br>Once you know one, you'll hear it everywhere! Ready to learn more?</p>
    </div>

    <div class="row vertical-center">
        <a href="/learn/1"><button class="start-btn">start</button></a>
    </div>

</div>
{% endblock %}