{% extends "layout.html" %}

{% block content %}
<div class="container custom-screen">
    <div class="backdrop"></div>
    <div>
        <p id="title-home">Pop Chord Progressions</p>
        <i><p id="blurb-home">Do you like Olivia Rodrigo? Ever wonder about the theory behind her hits?</p></i>
        <p class="p-home">Let's take a look at a couple of her songs and the chord progressions behind them!
        <br>Ready to learn more?</p>
    </div>

    <div class="row vertical-center">
        <a href="/learn/1"><button id="start-btn">start</button></a>
    </div>

</div>
<script>
    document.querySelector('.navbar-home').className += ` navbar-current`;
</script>
{% endblock %}