{% extends "layout.html" %}

{% block content %}
  <!-- column for back button -->
  <div class="col-md-2">

    {% if current_lesson == 1 %}
      <a href="/"><button class="back-btn">Back</button></a>

    {% elif current_lesson > 1 %}
      <a href="/learn/{{current_lesson-1}}/"><button class="back-btn">Back</button></a>

    {% endif %}
  </div>
  <!-- column for lesson content -->
    <div class="col-md-8" id="lesson_container">

      <!-- row of main content -->
      <div class="row" id="lesson_title">
        <b>{{ lesson.title }}</b>
      </div>

      <!-- add more rows as needed -->
      <div class="row" id="lesson_text">
        <p>{{ lesson.text }}</p>
      </div>

      <!-- display media -->

      {% if current_lesson < 3 %}
        <div class="row" id="lesson_img">
          <img src="{{ lesson.img }}" width="400">
        </div>

      {% elif current_lesson > 2 %}
        <div class="row" id="lesson_video">
          <iframe src="{{lesson.video}}" controls="true" frameborder="0" width="640px" height="360px"></iframe>
        </div>
        
      {% endif %}
        
    </div>

  <!-- column for next button -->
  <div class="col-md-2">

    {% if current_lesson < 6 %}
      <a href="/learn/{{current_lesson+1}}/"><button class="next-btn">Next</button></a>

    {% elif current_lesson == 6 %}
      <a href="/quiz/1"><button id="quiz-btn">Quiz</button></a>

    {% endif %}

  </div>

</div>

<script>
  document.querySelector('.navbar-learn').className += ` navbar-current`;
</script>

{% endblock %}