{% extends "layout.html" %}

{% block content %}
  <!-- left column for spacing -->
  <div class="col-md-2">
  </div>

  <!-- column for lesson content -->
    <div class="col-md-8" id="lesson_container">

      <!-- row of main content -->
      <div class="row" id="question_number">
        <b>Question {{ question.id }}</b>
      </div>

      <!-- add more rows as needed -->
      <div class="row" id="question_text">
        <p>{{ question.text }}</p>
      </div>

      <!-- display options -->
      <!-- for multiple choice questions -->
      {% if current_question < 5 %}
        <div class="row" id="multiple-choice">
          {% if question.answer == 1 %}
            <div class="answers">
                <button id="true" class="btn btn-secondary" data-correct="true">True</button>
                <button id="false" class="btn btn-secondary" data-correct="false">False</button>
            </div>

          {% elif question.answer == 2 %}
          <div class="answers">
            <button id="true" class="btn btn-secondary" data-correct="false">True</button>
            <button id="false" class="btn btn-secondary" data-correct="true">False</button>
          </div>          
          {% endif %}

          <div id="result" class="result" style="display:none;"></div>            
        
        </div>

      <!-- for drag and drop question -->
      {% elif current_question == 5 %}
        <div class="row justify-content-center mb-5">
            <!-- Draggable items -->
            <div id="album1" class="col-md-4 draggable" draggable="true" data-chord="I-iii-vi-IV">
                <img src="{{ question.options[1] }}" alt="Olivia Rodrigo Album 1" class="img-fluid">
            </div>
            <div id="album2" class="col-md-4 draggable" draggable="true" data-chord="I-III-IV-iv">
                <img src="{{ question.options[2] }}" alt="Olivia Rodrigo Album 2" class="img-fluid">
            </div>
        </div>
    
        <div class="row justify-content-center">
            <!-- Drop targets -->
            <div id="chord1" class="col-md-4 dropzone" data-chord="I-iii-vi-IV">
                I-iii-vi-IV
            </div>
            <div id="chord2" class="col-md-4 dropzone" data-chord="I-III-IV-iv">
                I-III-IV-iv
            </div>
        </div>

      {% endif %}

        <div>
        <!--next button -->
        {% if current_question < 5 %}
            <a href="/quiz/{{current_question+1}}/"><button class="quiz-next">Next</button></a>

        {% elif current_question == 5 %}
            <a href="/results"><button class="quiz-next" id="results-btn">Results</button></a>
  
        {% endif %}
        </div>
    </div>


</div>

<script>
  document.querySelector('.navbar-quiz').className += ` navbar-current`;
</script>

{% endblock %}