{% extends "layout.html" %}

{% block content %}
<div class="container my-4">
    <div class="row" id="lesson_title">
        <b>Question 1</b>
      </div>
    <div class="quiz-text-TF">
        True or False: </div> <div class= "quiz-text">Minor chord sounds bright or happy while a major chord sounds sad or contemplative.</p>
    </div>
    <div class="answers">
        <button id="true" class="btn btn-secondary" data-correct="false">True</button>
        <button id="false" class="btn btn-secondary" data-correct="true">False</button>
    </div>
    <div id="result" class="result" style="display:none;"></div>
    
    <!-- Dynamically create Next button -->
    {% if next_question %}
    <br>
    <br>
    <div class="navigation">
        <a href="{{ url_for('quiz', question_number=next_question) }}"><button class="next-btn">Next</button></a>
    </div>
    {% endif %}
</div>
{% endblock %}
