{% extends "layout.html" %}

{% block content %}
<!-- Column for back button -->
<div class="col-md-2">
</div>

<!-- Column for lesson content -->
<div class="col-md-8" id="lesson_container" data-question-id="{{ current_question }}">

  <!-- Row of main content -->
  <div class="row" id="question_number">
    <b>Question {{ question.id }}</b>
  </div>

  <div class="row" id="question_text">
    <p>{{ question.text }}</p>
  </div>

  <!-- Display options -->
  <div class="row" id="multiple-choice">
    {% for option_value, option_label in question.options.items() %}
    <button class="btn btn-secondary answer-button" data-option="{{ option_value }}">
        {{ option_label }}
    </button>
    {% endfor %}
  </div>

  <!-- Result display element -->
  <div id="result-display" class="alert" style="display: none;"></div>

  <!-- Navigation buttons -->
  <div>
    {% if current_question < 5 %}
      <a href="/quiz/{{current_question+1}}/"><button class="quiz-next">Next</button></a>
    {% else %}
      <a href="/quiz/results"><button id="quiz-btn">Results</button></a>
    {% endif %}
  </div>

</div>
<script>
  window.currentQuestion = {{ current_question }};
  document.querySelector('.navbar-quiz').className += ` navbar-current`;
</script>
{% endblock %}
